.inactive-nav {
  position: relative;
  padding-bottom: 9px;
  font-weight: 400;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -0px;
    height: 2px;
    width: 100%;
    background-color: transparent;
  }
}
.active-nav {
  position: relative;
  padding-bottom: 9px;
  font-weight: 500;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -0px;
    height: 2px;
    width: 100%;
    background-color: #046a38;
  }
}

.outlined-yellow-button {
  transition: all 500ms ease-in-out;
  border: 1px solid #f2a900;
  color: #f2a900;
  border-radius: 8px;
  height: 40px;
  padding: 0px 20px;
  width: fit-content;
  background-color: transparent;
  &:hover {
    background-color: #f2a900;
    color: white;
  }
}
